out
server
node_modules
*.vsix
.DS_Store
.vscode-test
undefined
target
dist
jre
lombok
bin/
.settings
.classpath
.project
.vscode/
test/resources/projects/**/.vscode
test/resources/projects/maven/salut/testGradle
test-temp
*.class